
header {
    background-color: #80b1e2 !important;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

.card-text {
    font-style: italic;
    color: #333;
}

.card img {
    border-radius: 50%;
}

footer {
    background-color: #222 !important;
    color: #ccc;
}

.container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
}
